#board {
	font-size: 2rem;
}

#title {
	background-color: #eeffcc;
	font-size: 1.5em;
}

#nav {
	font-size: 2rem;
}

#nav>.button-d {
	font-size: 1em;
	margin: 4px 0;
	background-color: greenyellow;
}