body {
	padding: 0 0 3rem 0;
	margin: 0;
}

.section {
	margin: 1rem 10vw;
	text-align: center;
	border-bottom: 1px solid gray;
}

#task {
	text-align: center;
}

#board {
	font-size: 2rem;
}

#title {
	background-color: #eeffcc;
	font-size: 1.5em;
}

#nav {
	font-size: 2rem;
}

#nav>.button-d {
	font-size: 1em;
	margin: 4px 0;
	background-color: greenyellow;
}