#recite>div {
    font-size: 1.5rem;
    text-align: left;
    padding: 4px 4px;
    margin: 8px 0;
}

#rc-note {
	text-indent: 3rem;
}

#rc-ques>p {
	text-indent: 2em;
	margin: 4px 0;
}

#rc-note {
	font-size: 0.6em;
}

#rc-note>span {
	margin-right: 2em;
}

#rc-ques {
	color: #886600;
}

#rc-ans {
	display: block;
	font-size: 0.8em;
	resize: vertical;
	min-height: 2em;
	height: 3em;
	width: calc(100% - 3em);
	margin-left: 2em;
}

#rc-submit {
	background-color: white;
	text-align: right;
	font-size: 2em;
}

#rc-submit>button:nth-child(1) {
	font-size: 0.75em;
	margin-right: 2em;
}

#rc-submit>button {
	font-size: 1em;
}