#rs-note {
	font-size: small;
}

#rs-simi-ttl {
	font-weight: bold;
}

#rs-simi-dswitch {
	display: inline-block;
	transform: rotate(var(--rotate));
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	margin: 0 8px;
}

#rs-simi-detail {
	opacity: 0.5;
	font-size: 0.8em;
}

#rs-cor {
	color: green;
}

#rs-score-num {
	font-size: 1em;
	width: 7em;
}

#result>p {
    margin: 8px 0;
}

#rs-cor, #rs-ans {
	font-size: 1.5em;
	text-align: left;
	text-indent: 2em;
}

#rs-simi {
	display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 2.2em;
	font-size: 1.5em;
}

#rs-score {
	font-size: 1.5em;
}

#rs-next-btn {
	margin: 8px 0;
	text-align: right;
	font-size: 2em;
	padding-right: 1em;
}